/***** BASE STYLES *****/
body {
    font-family: 'Slabo 27px', serif;
    color: #000000;
    width: 1400px;
    margin: 0 auto;
    background-color: #faebd7;
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
}

#about #pictures #links {
    height: 300px;
    width: 1400px;
    margin: 0 auto;
}
/***** GRID *****/
.full-width {
    width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
}
.half-width {
    width: 600px;
    float: left;
}
/***** HEADER *****/
header {
    height: 800px;
    background: url('../img/beach2.jpg');
    background-size: cover;
    padding-left: 50px;
    padding-right: 50px;
}
header h1 {
    font-family: 'Slabo 27px', serif;
    font-size: 30px;
    color: #000000;
    padding: 65px 0 65px 25px;
}
nav {
    float: right;
    padding: 75px 25px;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
    padding-left: 80px;
}
#question h1 {
    color: #000000;
    font-size: 50px;
    text-align: center;

}
/***** ABOUT *****/

#about h2 {
    font-size: 36px;
    text-align: center;
}
#about p {
    font-size: 25px;
    line-height: 30px;
}
/***** PICTURES *****/
#pictures {
   display: inline-block;
   padding-left: 50px; 
}
#links {
    display: inline-block;
    padding-left: 50px;
}






















